.searchBarContainer
{
    width: 35rem;
}
/*Estilização do formulário de busca*/
.autoCompleteOuterContainer
{
    border: none;
}

/*Estilização do input do campo de busca do header*/
:global(.vtex-styleguide-9-x-input)
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    color: white;
    padding-left: 0;
    transition: border-color .2s ease-in;
    letter-spacing: 1.5px;
}

/*Efeito de troca da cor da borda e fonte do placeholder*/
:global(.vtex-styleguide-9-x-input):focus
{
    border-color: #59ff00;
}
:global(.vtex-styleguide-9-x-input)::placeholder
{
    transition: color .2s ease-in;
    color: white;
}
:global(.vtex-styleguide-9-x-input):focus::placeholder
{
    color: #59ff00;
}

/*Estilo do icone de busca da searchbar*/
:global(.vtex-input__suffix)
{
    background-color: transparent;
    display: none;
}
:global(.vtex-input-prefix__group)
{
    border: none;
}
:global(.vtex__icon-search)
{
    color: white;
}
/*Fim do estilo do ícone de busca*/

/*Estilização da imagem do slider*/
.imageElement--bannerImage, .imageElement--bannerImage--adjustHeight
{
    border-radius: 10px;
}
.imageElementLink
{
    height: 100%;
}
.imageElement--bannerImage--adjustHeight
{
    height: inherit;
}

/*Estilização da página de produtos*/
.vtex-button__label .flex
{
    background-color: #59ff00;
    border: none;
}
.shippingContainer
{
    margin-bottom: 1.375rem;
}
.productDescriptionContainer
{
    margin: 0 auto 3rem auto;
    max-width: 70vw;
}
.productDescriptionTitle
{
    margin-top: 2rem;
    color: white;
}
/*Fim da Estilização da página de produtos*/